*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
nav{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
    padding-left: 75px;
}
.logo{
    color: black;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
span{
    color: orangered;
}
.Main-menu a{
    color: black;
    font-weight: 600;
    padding: 5px;
    margin: 10px;
}
.Main-menu a:hover{
    color: tomato;
}
.container{
    display: flex;
    margin-bottom: 70px;
}
.half-width{
    width: 50%;
    padding-left: 75px;
}
.half-width h1{
    font-size: 50px;
}
.half-width h1, p{
    margin-bottom: 25px;
}
.half-width img{
    width: 70%;
    margin-left: 75px;
}
.link-button{
    color: white;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.685);
    padding: 10px 30px;
    border-radius: 25px;
}
.logo-container{
    margin-bottom: 50px;
}
.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-section img{
    padding: 25px 25px;
}
.Product-Section{
    margin-top: 50px;
    margin-bottom: 50px;
}
#Product-Title{
    padding-top: 25px;
    padding-bottom: 35px;
    text-align: center;
}
.Products-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0px 75px;
}
.product:hover{
    border: 2px solid orange;
    transition: .3s;
}
.product{
    background-color:#B0E0E6;
    padding: 15px;
    border-radius: 5px;
}
.product img{
    width: 100%;
}
.fa-star, .fa-star-half-stroke{
    color: goldenrod;
    font-size: smaller;
}
#See-More{
    margin-left: 90%;
}
/* -----------
Last
-------------- */

.container-last{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.half-width-last{
    margin-left: 75px;
    margin-right: 75px;
}
.half-width-last h2{
    font-size: 40px;
}
.half-width h2, p{
    margin-bottom: 25px;
}
.half-width img{
    width: 50%;
    margin-left: 75px;
}
.link-button-Two{
    color: white;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.685);
    padding: 10px 30px;
}
.link-button-Two:hover{
    background-color: green;
    color: white;
    transition: .3s;
}
.link-button:hover{
    background-color: green;
    color: white;
    transition: .3s;
}